li
{
	list-style-type : none;
}
td
{
	font-size : 20px;
	text-align : center-left;
	font-family : 標楷體;
	
}
body
{
	background-color:#DDDDDD;
}
/*類別css*/
.img-thumbnail
{
	 margin-top : 25px;
	 margin-left : 100px;
}
.navbar
{
	top : 15px;
}
.login
{
	margin-top : 50px;
	text-align : center;
}
.form-group
{
	float : left 200px;
}
.col-md-2
{
	border-radius:5px;
	color :#FFFFFF;
	background-color :#1e1e1e;
	padding-top : auto;
	position :relative; 
	left :15px;
	width : 180px;
}
.col-md-10
{
	position : relative;
	left : 20px;
}
.yeardepartment
{
	border-radius:5px;
	color : white;
	text-align: center;
	background-color :#444444;
	border : 2px;
	position : relative;
	right : 40px;
	width : 180px;
}
.yearlist
{	
	color :gray;
	font-size : 125%;
	text-align : center;
	position : relative;
	right : 55px;
	width : 180px;
}
.member-form
{
	position : relative;
	left : 60px;
}
.submit
{
	position : relative;
	left : 350px;
}

/*以下是JS 套用類別*/

.red
{
	border-radius:5px;
	color : white;
	background-color : red ;
}
.hover
{
	border-radius:5px;
	background-color :#FF3333;
}